.dashboardContainer{
    background-color: white;
    padding: 1rem;
}
.headerContainer{
    display: flex;
    align-items:center;
    justify-content: flex-end;
    color: #9c1919;
    padding: 10px;
}