.headerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.actionButtonContainer {
  display: flex;
  justify-content: flex-end;
  color: #9c1919;
  cursor: pointer;
  &.disabled {
    color: #6b6b6b; 
    cursor: not-allowed;
    font-weight: 700;
  }
}
.modalContent {
  color: black;
}
.selectAllCheckbox {
  display: flex;
  gap: .5rem;
  align-items: center;
  color: black;
  font-weight: bold;
  font-size: 12px;
}
