.tableContainer {
  width: 100%;
  margin: 20px 0;
  font-size: 12px;
  background-color: white;
}

.accordionContent {
  margin-top: 10px;
}

.invoicesTitle {
  color: black;
  padding-right: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  th {
    font-weight: normal;
  }
}

th,
td {
  padding: 10px;
  text-align: left;
}

thead {
  background-color: #a9a9a93d;
}

tbody tr:hover {
  background-color: #f0f0f0;
}

input[type="checkbox"] {
  cursor: pointer;
}

.statusOverdue,
.dueDateOverdue {
  color: red;
  font-weight: 500;
}

.statusUpcoming,
.dueDateUpcoming {
  color: green;
  font-weight: 500;
}
