.invoiceTable {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
    color: black;
    
    table {
      width: 100%;
      border-collapse: collapse;
      text-align: left;
   
      
      thead {
        background-color: #f5f5f5;
        tr {
          th {
            padding: 10px;
            font-weight: bold;
            border-bottom: 1px solid #ddd;
            color: black;
          }
        }
      }
      
      tbody {
        tr {
          &:nth-child(even) {
            background-color: #f9f9f9;
            color: black;
          }
  
          td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            font-size: 14px;
            color: black;
          }
        }
      }
    }
  }
  